<footer class="w-full py-4 px-2 bg-neutral-900 border-t border-neutral-800 
text-center text-xs text-gray-400 flex flex-col items-center gap-1">
    <span>
        WIKILoL es un proyecto personal y educativo para portfolio.
    </span>
    <span class="block">
        No está afiliado ni respaldado por Riot Games, Inc. League of Legends y todos los assets relacionados son
        propiedad de Riot Games, Inc. © Riot Games, Inc.
    </span>
    <span class="block">
        Inspiración visual basada en buscadores de estadísticas como op.gg.
    </span>
</footer>